.collections li {
  /* width: 400px;
  height: 400px; */
  width: 366px;
  height: 366px;
}

.collection-creation-header h2{
  margin-bottom: 30px;
  font-size: 40px;
  font-family: 'Unica One', cursive;
  text-decoration: underline;
  text-transform: uppercase;
}

.collection-container .collection-img-wrapper {
  width: 362px;
  height: 362px;
}

.collection-hover-info a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.collection-hover-info p {
  font-size: 24px;
}

.col-add-items-title {
  margin-bottom: 10px;
}

.col-pick-items-container {
  display: flex;
  margin-bottom: 10px;
} 

.col-pick-item-button {
  width: 80px;
  padding: 8px;
  margin-right: 15px;
  font-size: 15px;
}

.col-creation-image-label {
  display: inline-block;
  padding: 8px;
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 15px;
  border: 1px solid black;
  cursor: pointer;
}
.col-creation-image-label:hover {
  background-color: #ffc552;
  font-weight: bold;
}

.col-creation-image-button{
  display: none;
}
.empty-col-image {
  display: flex;
  height: 300px;
  width: 300px;
  border: 2px solid black;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.chosen-col-image {
  display: flex;
  height: 375px;
  width: 375px;
  border: 2px solid black;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.col-preview-images-ul {
  /* display: flex; */
}

.col-preview-image-li-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 300px;
  width: 300px;
  margin-bottom: 10px;
  border: 2px solid black;
}

.col-preview-image-li {
  height: 100%;
}

input[type="submit"].col-preview-image-li-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  font-size: 12px;
  border-top: 0;
  border-right: 0;
  background-color: #fcf9ee;
}

input[type="submit"].col-preview-image-li-button:hover {
  background-color: #ff5959;
}

.btn-create-form-wrapper input[type="submit"] {
  width: 110px;
  padding: 8px;
  font-size: 16px;
}

.col-create-form-submit {
  padding-left: 3px;
  padding-right: 3px;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  border: 1px solid black;
  cursor: pointer;
}

.col-create-form-submit:hover {
  background-color: #ffc552;
  font-weight: bold;
}