.collections li {
  /* width: 400px;
  height: 400px; */
  width: 366px;
  height: 366px;
}

.collection-container .collection-img-wrapper {
  width: 362px;
  height: 362px;
}

.collection-hover-info a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.collection-hover-info p {
  font-size: 24px;
}

.col-add-items-title {
  margin-bottom: 10px;
}

.col-pick-items-container {
  display: flex;
  margin-bottom: 10px;
} 

.col-pick-item-button-left {
  font-size: 16px;
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 5px;
  display: flex;
  border: 1px solid black;
  cursor: pointer;
  width: fit-content;
}
.col-pick-item-button-left:hover {
  background-color: #ffc552;
  font-weight: bold;
}

.col-pick-item-button {
  font-size: 16px;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  border: 1px solid black;
  cursor: pointer;
  width: fit-content;
}
.col-pick-item-button:hover {
  background-color: #ffc552;
  font-weight: bold;
}

.col-pick-item-button-right {
  padding-left: 3px;
  padding-right: 3px;
  font-size: 16px;
  margin-left: 5px;
  display: flex;
  border: 1px solid black;
  cursor: pointer;
  width: fit-content;
}
.col-pick-item-button-right:hover {
  background-color: #ffc552;
  font-weight: bold;
}

.col-creation-image-label {
  font-size: 16px;
  padding: 2px;
  display: flex;
  border: 1px solid black;
  cursor: pointer;
  width: fit-content;
  margin-top: 10px;
  margin-bottom: 5px;
}
.col-creation-image-label:hover {
  background-color: #ffc552;
  font-weight: bold;
}

.col-creation-image-button{
  display: none;
}
.empty-col-image {
  display: flex;
  height: 300px;
  width: 300px;
  border: 2px solid black;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.chosen-col-image {
  display: flex;
  height: 300px;
  width: 300px;
  border: 2px solid black;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.col-preview-images-ul {
  display: flex;
}

.col-preview-image-li-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.col-preview-image-li {
  height: 75px;
}

.col-preview-image-li-button {
  font-size: 12px;
  padding-left: 2px;
  padding-right: 2px;
  display: flex;
  border: 1px solid black;
  cursor: pointer;
  width: fit-content;
}

.col-preview-image-li-button:hover {
  background-color: red;
  font-weight: bold;
}


.col-create-form-submit {
  padding-left: 3px;
  padding-right: 3px;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  border: 1px solid black;
  cursor: pointer;
}

.col-create-form-submit:hover {
  background-color: #ffc552;
  font-weight: bold;
}