.items li {
  width: 300px;
  height: 300px;
}

.item-container .item-img-wrapper {
  width: 296px;
  height: 296px;
}

.item-hover-info p {
  font-size: 20px;
}


.item-creation-image-label {
  display: flex;
  border: 1px solid black;
  cursor: pointer;
  width: fit-content;
  margin-bottom: 5px;
  padding: 2px;
}
.item-creation-image-label:hover {
  background-color: #ffc552;
  font-weight: bold;
}

.item-creation-image-button{
  display: none;
}
.empty-item-image {
  display: flex;
  height: 300px;
  width: 300px;
  border: 2px solid black;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.chosen-item-image {
  display: flex;
  height: 300px;
  width: 300px;
  border: 2px solid black;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.item-delete-button {
  border: 2px solid black;
  color: black;
  font-weight: bold;
  position: relative;
  top: -135px;
  right: 5px;
  padding-bottom: 1px;
  padding-left: 2px;
  padding-right: 2px;
}