/* html, body {
  height: 100%;
} */
body { 
  background-color: #fcf9ee;
}
#root {
  /* font-family: 'Unica One', cursive; */
  /* font-family: 'Bebas Neue', cursive; */
  font-family: 'Raleway', sans-serif;
}
h1 {
  font-family: 'Unica One', cursive;
  font-size: 60px;
  font-style: normal;
}

input {
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
}

input[type="submit"], input[type="file"] {
  border: 1px solid black;
  cursor: pointer;
}

input[type="submit"]:hover, input[type="file"]:hover {
  background-color: #ffc552;
  font-weight: bold;
}

input[type="text"], input[type="password"] {
  padding: 8px;
  border-bottom: 1px solid #adadad;
}

button {
  display: block;
  padding: 0;
  outline: none;
  background-color: transparent;
  text-align: left;
  cursor: pointer;
}