/* html, body {
  height: 100%;
} */
body { 
  background-color: #fcf9ee;
}
#root {
  /* font-family: 'Unica One', cursive; */
  /* font-family: 'Bebas Neue', cursive; */
  font-family: 'Raleway', sans-serif;
}
h1 {
  font-family: 'Unica One', cursive;
  font-size: 60px;
  font-style: normal;
}

input {
  box-sizing: border-box;
  outline: none;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
}

input[type="text"], input[type="password"] {
  padding: 8px;
}