.modal-wrapper {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.delete-colletion-modal-wrapper {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}


.modal-inner {
  width: 1100px;
  height: 500px;
  margin: 0 auto;
  padding: 20px 5px 25px 25px;
  background-color: #fcf9ee;
  overflow: scroll;
}

.delete-colletion-modal-inner {
  width: 1100px;
  height: 500px;
  margin: 0 auto;
  padding: 20px 5px 25px 25px;
  background-color: #fcf9ee;
  overflow: scroll;
}

.modal-container {
}

.modal-items li {
  width: 200px;
  height: 200px;
}

.modal-item-container .modal-item-img-wrapper {
  width: 196px;
  height: 196px;
}

.modal-item-hover-info p {
  font-size: 16px;
}

.delete-collection-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-collection-modal-wrapper .modal-inner {
  width: auto;
  height: auto;
  padding: 20px;
}

.delete-collection-list-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.btn-delete-wrapper input[type="submit"] {
  width: 110px;
  margin-right: 10px;
  padding: 8px;
  font-size: 15px;
}

.btn-delete-wrapper input[type="submit"].btn-confirm:hover {
  background-color: #ff5959;
}

.btn-delete-wrapper input[type="submit"].btn-cancel:hover {
  background-color: #8ee78e;
}